<ion-menu [content]="content">
  <ion-header>
    <!-- <ion-toolbar> -->
      <!-- <ion-title>Menu</ion-title> -->
      <ion-list no-lines>
        <ion-item>
          <ion-avatar item-left>
            <img  *ngIf="currentUser" src="assets/images/logo-s.png" style="width:55px;height:55px;"/>
          </ion-avatar>
          <h2 *ngIf="currentUser" ><b>{{currentUser.name}}</b></h2> 
          <h3 *ngIf="currentUser">{{currentUser.mandant}}</h3> 
        </ion-item>
        </ion-list>
    <!-- </ion-toolbar> -->
  </ion-header>

  <ion-content>
    <ion-list no-lines>
      <ion-item menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon name="{{p.icon}}" item-left></ion-icon>
        {{p.title | translate}}
      </ion-item>
      <ion-item menuClose ion-item (click)="openSettingsPage()">
        <ion-icon name="cog" item-left></ion-icon>
        {{'SETTINGS' | translate}}
      </ion-item>
      <ion-item menuClose ion-item (click)="doLogout()">
        <ion-icon name="power" item-left></ion-icon>
        {{'SIGN_OUT' | translate}}
      </ion-item>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>